body * {
  margin: 0 !important;
  padding: 0 !important;
}
body {
  background-color: #1b2838 !important;
}
body h2 {
  font-family: "Motiva Sans", Sans-serif;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  margin: 0 0 10px !important;
  letter-spacing: 0.03em !important;
  font-weight: normal;
  padding-top: 2px !important;
}
a {
  text-decoration: none !important;
  color: #ffffff !important;
}
body .footer_spacer {
  height: 100px;
}

.navbarContainer {
  background: #171d25;
  background-position: center top;
  min-width: 940px;
  font-family: "Motiva Sans", Sans-serif;
  font-weight: normal;
  font-size: 14px;
}
.navbar {
  background: #171d25;
  position: relative;
  width: 940px;
  height: 104px;
  margin: 0px auto !important;
  z-index: 402;
}
.navbar-brand {
  float: left;
  padding-top: 30px !important;
  margin-right: 40px !important;
  width: 176px;
  height: 44px;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown-menu {
  background: #3d4450 !important;
  padding: 6px 0 !important;

  box-shadow: 3px 3px 5px -3px #000;
  text-align: left;
  z-index: 500;
  min-width: none !important;
}
.dropdown-item {
  text-decoration: none;
  text-transform: none;
  font-size: 12px;
  color: #dcdedf !important;
  padding-right: 15px !important;
  padding-left: 15px !important;
}
.dropdown-item:hover {
  color: #3d4450 !important;
}
.navbar-nav {
  position: absolute;
  left: 200px;
}
.nav-item {
  display: block;
  position: relative;
  padding-top: 45px !important;
  padding-left: 7px !important;
  padding-right: 7px !important;
  padding-bottom: 7px !important;
  line-height: 16px !important;
  float: left;
  font-size: 14px;
  color: #dcdedf;
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Motiva Sans", "Twemoji", "Noto Sans", Helvetica, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}
.nav-link {
  padding: 0 !important;
}

.global_actions {
  position: absolute !important;
  right: 0px !important;
  top: 6px !important;
  height: 21px !important;
  line-height: 21px !important;
  color: #b8b6b4 !important;
  font-size: 11px !important;
  z-index: 401 !important;
}
.global_action_menu {
  line-height: 24px !important;
  vertical-align: top;
  display: inline-flex;
}
.installsteam_btn {
  display: inline-block !important;
  position: relative;
  height: 27px;
  line-height: 24px !important;
  margin-right: 3px !important;
  display: inline-block;
  padding-left: 35px !important;
  padding-right: 9px !important;
  background-position: 10px 5px;
  background-image: url(https://store.akamai.steamstatic.com/public/shared/images/header/btn_header_installsteam_download.png?v=1) !important;
  background-repeat: no-repeat;
  text-decoration: none;
  color: #e5e4dc;
  font-weight: normal;
  background-color: rgba(103, 112, 123, 0.2) !important;
}
.notificationArea {
  width: 46px;
  position: relative;
  display: inline-block;
  margin-right: 3px !important;
}
.notificationButton {
  width: 46px;
  height: 24px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 402;
  background-color: rgba(103, 112, 123, 0.2) !important;
}
.login {
  padding: 0 4px !important;
  color: #b8b6b4 !important;
}
.account {
  display: inline-block;
  padding-left: 4px;
  line-height: 25px;
  color: #e5e4dc !important;
  margin-right: 3px !important;
}
.playerAvatar {
  width: 34px;
  height: 34px;
  position: relative;
  border-radius: 0;
  padding: 1px !important;
}

.store_header {
  position: relative;
  width: 940px;
  margin: 0 auto !important;
}
.content {
  height: 66px;
  position: relative;
  width: 940px;
  margin: 0 auto !important;
  z-index: 300;
}
.storeControls {
  position: absolute;
  right: 0;
  top: 10px;
  text-align: right;
  z-index: 300;
  font-size: 11px;
}

.shopWishlist {
  background-image: url(https://store.akamai.steamstatic.com/public/images/v6/storemenu/background_wishlist.jpg);
  background-color: rgba(255, 255, 255, 0.4);
  background-position: -34px 20px;
  height: 20px;
  position: relative;
  margin-left: 1px !important;
  border-radius: 1px;
  float: left;
  color: #e5e4dc !important;
  padding: 0 25px !important;
  margin: 0 1px !important;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
}
.shopCart {
  background-image: url(https://store.akamai.steamstatic.com/public/images/v6/storemenu/background_cart.jpg);
  background-color: rgba(164, 208, 7, 0.4);
  background-position: -34px 20px;
  padding: 0 25px;
  margin: 0 1px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
}
.store_nav {
  margin: 7px 0 !important;
  position: absolute;
  left: 0;
  right: 0;
  top: 24px;
  height: 35px;
  display: flex;
  background: linear-gradient(
    90deg,
    rgba(62, 103, 150, 0.919) 11.38%,
    rgba(58, 120, 177, 0.8) 25.23%,
    rgb(15, 33, 110) 100%
  );
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}
.store_nav_item {
  font-size: 13px !important;
  font-weight: bold !important;
  color: #d9dadd !important;
  line-height: 33px !important;
  padding: 0 15px !important;
  display: block;
  background-color: none !important;
}
.store_tab {
  min-width: 18rem !important;
}
.store_tab2 {
  min-width: 50rem !important;
}
.search_spacer {
  flex: 1;
  width: 20px;
}
.search_area {
  float: none;
  padding: 3px 4px 2px !important;
  height: 30px !important;
}
.search_input {
  color: #0e1c25 !important;
  font-size: 14px !important;
  margin-top: 1px !important;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.1);
  font-family: "Motiva Sans", Sans-serif;
  font-weight: 300;
  background-image: none !important;
  background-color: #316282 !important;
  border: none !important;
}
.searchbox {
  background-image: none !important;
  background-color: #316282 !important;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.2);
  color: #fff;
  margin-bottom: 0px !important;
  outline: none;
  height: 27px;
  padding: 0px 6px !important;
}
.search_button {
  position: absolute;
  right: 2px;
  top: 0;
}
.search_button img {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 1px;
  right: -1px;
  background-image: url(https://store.akamai.steamstatic.com/public/images/v6/search_icon_btn.png);
}
.home_cluster {
  padding-left: 2% !important;
  padding-right: 2% !important;
  padding-bottom: 20px !important;
  padding-top: 20px !important;
  overflow: hidden;
}
.home_page_content {
  position: relative;
  width: 940px;
  margin: 0 auto !important;
}
.carousel {
  width: 100%;
  height: 600px;
}
.carousel-item {
  max-height: 600px;
  min-height: 600px;
}
.carousel-item img {
  width: 100%;
  height: 600px;
}
.login_page {
  background: radial-gradient(rgba(24, 26, 33, 0) 0%, #181a21 100%) fixed no-repeat,
    url(https://store.akamai.steamstatic.com/public/shared/images/joinsteam/new_login_bg_strong_mask.jpg) center top
      no-repeat,
    #181a21;
  padding: 0px 8px !important;
  width: 100%;
}
.login_main {
  padding-top: 80px !important;
  padding-bottom: 150px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.newLogin {
  position: relative;
  display: flex;
  flex-direction: column;
}
.newLogDialog {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 32px;
}
.signin_Container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 8px 16px !important;
}
.login_primaryHeader {
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}
.form_login {
  background-color: #181a21;
  border-radius: 4px;
  padding: 24px 32px !important;
  display: flex;
  flex: 1;
  min-width: 700px;
}
.login_form {
  width: 396px;
  flex: 1;
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr;
}
.login_label {
  font-size: 12px;
  color: #1999ff;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  user-select: none;
}
.text_input {
  border-radius: 2px !important;
  color: #fff !important;
  padding: 10px !important;
  background-color: #32353c !important;
  outline: none !important;
  font-size: 15px !important;
  grid-area: input !important;
  border: 1px solid #32353c !important;
}
.passwordInput {
  font-size: 12px;
  color: #afafaf;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  user-select: none;
}
.logincheckbox {
  width: 140px !important;
  height: 14px !important;
  padding: 3px !important;
  border-radius: 2px !important;
  cursor: pointer !important;
  color: #afafaf;
}
.login_Submit {
  position: relative !important;
  background: linear-gradient(90deg, #06bfff 0%, #2d73ff 100%) !important;
  border-radius: 2px !important;
  border: none !important;
  outline: none !important;
  padding: 12px !important;
  color: #fff !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  font-family: inherit !important;
  text-align: center !important;
  cursor: pointer !important;
  width: 270px !important;
}
.QRloginsection {
  width: 200px;
  flex: 0 !important;
  display: grid !important;
  gap: 4px !important;
  margin-left: 40px !important;
}
.QRcode {
  width: 200px !important;
  height: 277px;
  aspect-ratio: 1 !important;
  border-radius: 2px !important;
  margin-top: 2px !important;
  margin-bottom: 8px !important;
}
.QR {
  width: 200px !important;
  height: 200px !important;
}
.login_text {
  color: #afafaf !important;
  font-size: 12px !important;
}
.login_textline {
  color: #afafaf !important;
  font-size: 12px !important;
  text-decoration: underline !important;
  cursor: pointer !important;
}
.login_bottom {
  display: flex !important;
  flex-direction: row;
  padding-top: 48px !important;
  align-items: center;
  margin-right: auto !important;
  margin-left: auto !important;
  width: 100% !important;
  justify-content: center;
  background-color: #181a21 !important;
}
.login_bottom_item {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 300px;
}
.login_btn {
  margin-top: 20px !important;
}
.headline {
  font-size: 20px;
  font-weight: 800;
  color: white;
}
.create_btn {
  padding: 3px 20px !important;
  color: white;
  text-shadow: none;
  margin: 10px 0 10px 0 !important;
  display: block;
  text-align: center;
  border-radius: 2px;
  display: block;
  background: #75b022;
  background: -webkit-linear-gradient(top, #75b022 5%, #588a1b 95%);
  background: linear-gradient(to bottom, #75b022 5%, #588a1b 95%);
  background: linear-gradient(to right, #47bfff 5%, #1a44c2 60%);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  background-position: 25%;
  background-size: 330% 100%;
}

.subtext {
  font-size: 14px;
  color: #b8b6b4;
}
.join_desc {
  max-width: 60% !important;
  text-align: center !important;
  font-size: 14px !important;
  margin-top: 10px !important;
  color: #b8b6b4 !important;
  text-decoration: underline !important;
}
.login .footer_spacer {
  background-color: #181a21;
}
.footer {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 16px 0 60px 0 !important;
  margin: 0 !important;
  text-size-adjust: none !important;
  -webkit-text-size-adjust: none !important;
  background: #171a21;
}

.footer_content {
  width: 940px;
  margin: 0px auto !important;
  padding-top: 16px !important;
}
.rule {
  height: 8px;
  border-top: 1px solid #363c44;
}
.footer_logo_steam {
  float: right;
  padding-top: 2px !important;
}
img {
  -webkit-user-drag: none;
  border: none;
}
.footer_logo {
  float: left;
  padding-top: 2px !important;
}
.footer_logo img {
  height: 25px;
  width: auto;
}
.footer_text {
  float: left !important;
  margin-left: 12px !important;
  color: #8f98a0 !important;
  font-size: 12px !important;
  line-height: 16px !important;
}
.valve_links {
  margin-top: 8px !important;
  font-family: "Motiva Sans", Sans-serif !important;
  font-weight: normal !important;
  font-size: 13px !important;
  color: #61686d !important;
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: space-evenly !important;
  align-items: center !important;
  flex-direction: row !important;
}
.login .footer {
  background-color: #181a21;
}
.page_content {
  width: 940px;
  margin: 0 auto !important;
}
.register_container {
  padding: 50px !important;
  min-height: 600px !important;
  max-width: 700px !important;
}
.create_account_form_title {
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 34px;
  color: #ffffff;
  margin-bottom: 30px !important;
  font-weight: 200;
  letter-spacing: 2px;
}
.form_area {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 292px;
  float: none;
  margin: 25px 0 !important;
}
.form_area label {
  font-size: 14px;
  color: #b8b6b4;
  vertical-align: top;
}
.form_area input,
select {
  background: #32353c !important;
  border-radius: 3px !important;
  color: #e9e9e9 !important;
  padding: 8px 6px !important;
  display: block !important;
  box-shadow: none !important;
  border: none !important;
  width: 100% !important;
  transition: border ease-in-out 0.5s !important;
  font-family: "Motiva Sans", Sans-serif !important;
  font-weight: normal !important;
}
.form-check {
  display: flex !important;
}
.form-check label {
  font-size: 14px;
  color: #b8b6b4;
  vertical-align: top;
}
.registerSubmit {
  margin-top: 35px !important;
  border-radius: 2px !important ;
  border: none !important ;
  padding: 1px !important ;
  display: inline-block !important ;
  cursor: pointer !important ;
  text-decoration: none !important;
  color: #c3e1f8 !important ;
  border-radius: 2px;
  display: block;
  background: #75b022;
  background: -webkit-linear-gradient(top, #75b022 5%, #588a1b 95%) !important;
  background: linear-gradient(to bottom, #75b022 5%, #588a1b 95%) !important;
  background: linear-gradient(to right, #47bfff 5%, #1a44c2 60%) !important;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2) !important;
  background-position: 25% !important;
  background-size: 330% 100% !important;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3) !important ;
  padding: 3px 50px !important;
  font-size: 15px !important;
  line-height: 30px !important;
}
.store_tabs_container {
  background: -webkit-linear-gradient(top, rgba(42, 71, 94, 1) 5%, rgba(42, 71, 94, 0) 70%);
  background: linear-gradient(to bottom, rgba(42, 71, 94, 1) 5%, rgba(42, 71, 94, 0) 70%);
  padding-top: 1px !important;
  margin-top: 60px !important;
  padding-left: 2% !important;
  padding-right: 2% !important;
  padding-bottom: 20px !important;
}
.store_tabs_content {
  position: relative;
  width: 940px;
  margin: 0 auto !important;
  margin-top: -31px !important;
}
.store_tabs_left {
  width: 618px;
}
.nav-tabs {
  position: relative;
  overflow-x: auto;
  white-space: nowrap;
}
.nav-tabs .nav-item {
  margin-top: 0 !important;
  box-shadow: none !important;
  padding: 1px !important;
  display: inline-block;
  margin-right: 0px !important;
  background: rgba(42, 63, 90, 0.6) !important;
  border-top-left-radius: 3px !important;
  border-top-right-radius: 3px !important;
  font-size: 13px !important;
  color: #2f89bc !important;
  line-height: 24px !important;
  cursor: pointer !important;
  vertical-align: top !important;
  margin-top: 3px !important;
  box-shadow: inset 0 -2px 3px 0 rgba(0, 0, 0, 0.25) !important;
}
.nav-tabs .nav-item button {
  padding: 0 10px !important;
  color: #4f94bc !important;
}
.nav-tabs .nav-item .active {
  color: #ffffff !important;
  background: #1a2737 !important;
}
.tab_seemore {
  text-align: right;
  background: rgba(0, 0, 0, 0.2);
  padding: 4px !important;
  font-family: Arial, Helvetica, sans-serif;
  color: #c6d4df;
  font-size: 12px;
}
.tab_seemore a {
  border-radius: 2px;
  border: none;
  padding: 1px !important;
  display: inline-block;
  cursor: pointer;
  text-decoration: none !important;
  color: #fff !important;
  background: transparent;
  padding: 0 15px !important;
  font-size: 12px;
  line-height: 24px;
  color: #fff !important;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 2px;
}

.game_tabs_list {
  position: relative;
  display: block;
  background: #202d39;
  background: rgba(0, 0, 0, 0.2);
  height: 69px 198px !important;
  margin-bottom: 5px 198px !important;
  padding-left: 198px !important;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
}

.tab_item_cap {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  line-height: 69px;
  transition: opacity 0.25s;
}
.tab_item_cap img {
  width: 100%;
  height: 57px;
}
.discount_prices {
  display: flex;
  justify-content: space-between;
  float: right;
  margin-right: 16px !important;
  background: none;
  margin-top: 23px !important;
  width: 133px !important;
  text-align: right;
}
.price {
  padding: 0 6px !important;
  color: white;
}
.tab_item_content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 7px !important;
  font-size: 12px !important;
}
.tab_item_title {
  color: #c7d5e0 !important;
  font-size: 1.25em;
  line-height: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  overflow: hidden;
  transition: color 0.25s;
}
.tab_item_details {
  color: #384959;
  line-height: 20px;
}
.platform_img {
  background-image: url(https://store.akamai.steamstatic.com/public/images/v6/icon_platform_win.png?v=3);
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  vertical-align: bottom;
  opacity: 0.3;
}

.tab_item_tags {
  height: 20px;
  white-space: normal;
  overflow: hidden;
}
