body * {
  margin: 0 !important;
  padding: 0 !important;
}
body {
  background-color: #1b2838 !important;
}

.navbarContainer {
  background: #171d25;
  background-position: center top;
  min-width: 940px;
  font-family: "Motiva Sans", Sans-serif;
  font-weight: normal;
  font-size: 14px;
}
.navbar {
  background: #171d25;
  position: relative;
  width: 940px;
  height: 104px;
  margin: 0px auto !important;
  z-index: 402;
}
.navbar-brand {
  float: left;
  padding-top: 30px !important;
  margin-right: 40px !important;
  width: 176px;
  height: 44px;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown-menu {
  background: #3d4450 !important;
  padding: 6px 0 !important;

  box-shadow: 3px 3px 5px -3px #000;
  text-align: left;
  z-index: 500;
  min-width: none !important;
}
.dropdown-item {
  text-decoration: none;
  text-transform: none;
  font-size: 12px;
  color: #dcdedf !important;
  padding-right: 15px !important;
  padding-left: 15px !important;
}
.dropdown-item:hover {
  color: #3d4450 !important;
}
.navbar-nav {
  position: absolute;
  left: 200px;
}
.nav-item {
  display: block;
  position: relative;
  padding-top: 45px !important;
  padding-left: 7px !important;
  padding-right: 7px !important;
  padding-bottom: 7px !important;
  line-height: 16px !important;
  float: left;
  font-size: 14px;
  color: #dcdedf;
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Motiva Sans", "Twemoji", "Noto Sans", Helvetica, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}
.nav-link {
  padding: 0 !important;
}

.global_actions {
  position: absolute !important;
  right: 0px !important;
  top: 6px !important;
  height: 21px !important;
  line-height: 21px !important;
  color: #b8b6b4 !important;
  font-size: 11px !important;
  z-index: 401 !important;
}
.global_action_menu {
  line-height: 24px !important;
  vertical-align: top;
  display: inline-flex;
}
.installsteam_btn {
  display: inline-block !important;
  position: relative;
  height: 21px;
  line-height: 24px !important;
  margin-right: 3px !important;
  display: inline-block;
  padding-left: 35px !important;
  padding-right: 9px !important;
  background-position: 10px 5px;
  background-image: url(https://store.akamai.steamstatic.com/public/shared/images/header/btn_header_installsteam_download.png?v=1) !important;
  background-repeat: no-repeat;
  text-decoration: none;
  color: #e5e4dc;
  font-weight: normal;
  background-color: rgba(103, 112, 123, 0.2) !important;
}
.notificationArea {
  width: 46px;
  position: relative;
  display: inline-block;
  margin-right: 3px !important;
}
.notificationButton {
  width: 46px;
  height: 24px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 402;
  background-color: rgba(103, 112, 123, 0.2) !important;
}
.account {
  display: inline-block;
  padding-left: 4px;
  line-height: 25px;
  color: #e5e4dc !important;
  margin-right: 3px !important;
}
.playerAvatar {
  width: 34px;
  height: 34px;
  position: relative;
  border-radius: 0;
  padding: 1px !important;
}
